/* .projectsTitle {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 16px;
} */

.projectsTitle h3 {
  font-size: 32px;
  font-weight: 500;
}

.projectsTitle hr {
  flex-grow: 0;
  width: 500px;
  margin-right: auto;
  color: var(--purple);
}

.projectsTitle a {
  text-decoration: none;
  color: var(--gray);
  white-space: nowrap;
}

.projectsTitle hr {
  width: 500px;
  background-color: var(--purple);
  height: 1px;
  margin-right: auto;
}

.projectsTitle span {
  color: var(--purple);
}