
.skillsRow {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  gap: 59px;
}

.leftElement {
  width: 40%;
  margin-left: 32px;
  margin-bottom: 29px;
  min-width: 350px;
  min-height: 280px;
  background-image: url("../../../img/decorations/Dots.svg"),
    url("../../../img/decorations/Dots.svg"),
    url("../../../img/decorations/Rectangle.svg"),
    url("../../../img/decorations/Rectangle.svg"),
    url("../../../img/decorations/Vector.svg");
  background-size: 63px, 63px, 86px, 52px, 113px;
  background-repeat: no-repeat;
  background-position: left 38px, 177px 143px, right 36px top, right 1px bottom 37px,
    15px bottom;
}

/* .rightElement {
  padding-top: 30px;
  width: 100%;
  max-height: 280px;
  gap: 16px;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: column;
} */

.rightElement p {
  margin: 8px;
}

.rightElement h4 {
  margin: 0;
}


/* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: min-content;
  grid-auto-flow: dense;
  direction: rtl;
  justify-items: end;
  align-items: start;
  grid-gap: 16px; */